<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:decorate="layout">
<head>
    <meta charset="UTF-8" />
    <title>Livros</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />
</head>
<body>
    <div class="container">
        <h1>Formulário de cadastro de livros da biblioteca</h1>
        <form method="post" action="#" th:action="@{/books/gravar}" th:object="${book}">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label for="inputName">Nome:</label>
                <input type="text" th:field="*{name}" class="form-control" id="inputName" />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
            </div>
            <div class="form-group">
                <label for="inputQtdPages">Quantidade de páginas</label>
                <input type="text" th:field="*{qtdPages}" id="inputQtdPages" class="form-control" />
                <span th:if="${#fields.hasErrors('qtdPages')}" th:errors="*{qtdPages}">Error</span>
            </div>
            <div class="form-group">
                <label for="select-author">Autor</label>
                <select class="form-control" id="select-author" th:field="*{author}">
                    <option value="">Selecione o autor</option>
                    <option th:each="author : ${authors}"
                            th:text="${author?.name}"
                            th:value="${author?.id}"
                            selected="selected">
                    </option>
                </select>
            </div>

            <input type="submit" class="btn btn-primary">
        </form>

    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script>
</body>
</html>