<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:decorate="layout">
<head>
    <meta charset="UTF-8" />
    <title>Novo autor</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />
</head>
<body>
    <div class="container">
        <h1>Formulário de cadastro de autor</h1>
        <form method="post" action="#" th:action="@{/authors/gravar}" th:object="${author}">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label for="inputName">Nome:</label>
                <input type="text" th:field="*{name}" class="form-control" id="inputName" />
            </div>

            <input type="submit" class="btn btn-primary">
        </form>

    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script>
</body>
</html>