<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:decorate="layout">
<head>
    <div th:insert="/includes/default :: headerImports"></div>
</head>
<body>
    <div th:insert="/includes/default :: defaultBodyHeader"></div>

    <div class="container" style="margin-top: 50px;">
        <h1>Formulário de cadastro de autor</h1>
        <form method="post" action="#" th:action="@{/authors/gravar}" th:object="${author}">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label for="inputName">Nome:</label>
                <input type="text" th:field="*{name}" class="form-control" id="inputName" />
            </div>

            <input type="submit" class="btn btn-primary" value="Gravar" />
        </form>

    </div>

    <div th:insert="/includes/default :: defaultBodyFooter"></div>
    <div th:insert="/includes/default :: footerImports"></div>
</body>
</html>